/*
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing,
 *  software distributed under the License is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *  KIND, either express or implied.  See the License for the
 *  specific language governing permissions and limitations
 *  under the License.
*/


h1, h2, h3, h4, h5, h6 
{
	color: #330066;
}

#header 
{
	background-image: url('header.png');
}

label {    
	display: block;   
}

#rightColumn {
	color: #222;
}

#navigation li {
	text-indent:-10px;
}

#login {
	margin-left: 20px;
}

.note {
	padding: 5px;
	padding-left: 25px;
	background-repeat:no-repeat;
	background-position: 5px 5px;
}

.note.error {
	background-color: #FCC;
	background-image:url('error.png');
	border: 1px solid #FAA;
	border-radius: 3px;
}

.note.warn {
	background-color: #FFFFCE;
	background-image:url('warn.png');
	border: 1px solid #FFFF00;
	border-radius: 3px;
}

.note.info {
	background-color: #D8E4F1;
	background-image:url('info.png');
	border: 1px solid #6666FF;
	border-radius: 3px;
}


